In [33]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
rawd = pd.read_csv(r"D:\A.AI.ML\Projects\flipkart_sales\artefacts\processed\flipkart_mobile_sales_fe.csv")

In [11]:
df_sales = rawd.copy()
print(df_sales.shape)

df_sales = df_sales.drop('Unnamed: 0', axis = 1)
df_sales

(2851, 14)

,brand,model,color,memory,storage,rating,selling_price,original_price,base_colors,memory_num,memory_type,storage_num,discount
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990.0,15990.0,Black,4,GB,64,33.36
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990.0,15990.0,others,4,GB,64,33.36
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990.0,17990.0,Black,6,GB,128,28.59
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990.0,17990.0,others,6,GB,128,28.59
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990.0,15990.0,Black,4,GB,64,33.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2846,POCO,M2 Reloaded,Greyish Black,4 GB,64 GB,4.3,9999.0,11999.0,Black,4,GB,64,20.00
2847,Xiaomi,Mi A3,Not just Blue,4 GB,64 GB,0.0,12990.0,14989.0,Blue,4,GB,64,15.39
2848,Xiaomi,Redmi Note 7,Onyx Black,3 GB,32 GB,0.0,11900.0,12999.0,Black,3,GB,32,9.24
2849,Xiaomi,REDMI Note 9,Aqua Green,4 GB,64 GB,0.0,11999.0,14999.0,Green,4,GB,64,25.00
2850,Xiaomi,REDMI Note 9,Shadow Black,4 GB,64 GB,0.0,11999.0,14999.0,Black,4,GB,64,25.00

In [12]:
cols = df_sales.columns
num_cols = list(df_sales._get_numeric_data().columns)
cat_cols = list(set(cols) - set(num_cols))

print("Num Cols:", num_cols, "\n")
print("Cat Cols:", cat_cols)

Num Cols: ['rating', 'selling_price', 'original_price', 'memory_num', 'storage_num', 'discount']

Cat Cols: ['brand', 'memory_type', 'color', 'base_colors', 'memory', 'storage', 'model']

In [23]:
target = ['selling_price']

### Feature Creation

In [13]:
df_sales.memory.unique() #MB and GB present - make everything in the form of the samllest unit

array(['4 GB', '6 GB', '3 GB', '8 GB', '2 GB', '12 GB', '1 GB', '512 MB',
       '1.5 GB', '768 MB', '8 MB', '64 MB', '4 MB', '32 MB', '16 MB',
       '4GB', '153 MB', '128 MB', '2 MB', '10 MB', '46 MB', '16 GB',
       '100 MB', '30 MB', '18 GB'], dtype=object)

In [15]:
df_sales['total_memory'] = np.where(df_sales['memory_type'] == 'GB', df_sales['memory_num']*1204, df_sales['memory_num'])
df_sales

,brand,model,color,memory,storage,rating,selling_price,original_price,base_colors,memory_num,memory_type,storage_num,discount,total_memory
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990.0,15990.0,Black,4,GB,64,33.36,4816
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990.0,15990.0,others,4,GB,64,33.36,4816
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990.0,17990.0,Black,6,GB,128,28.59,7224
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990.0,17990.0,others,6,GB,128,28.59,7224
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990.0,15990.0,Black,4,GB,64,33.36,4816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2846,POCO,M2 Reloaded,Greyish Black,4 GB,64 GB,4.3,9999.0,11999.0,Black,4,GB,64,20.00,4816
2847,Xiaomi,Mi A3,Not just Blue,4 GB,64 GB,0.0,12990.0,14989.0,Blue,4,GB,64,15.39,4816
2848,Xiaomi,Redmi Note 7,Onyx Black,3 GB,32 GB,0.0,11900.0,12999.0,Black,3,GB,32,9.24,3612
2849,Xiaomi,REDMI Note 9,Aqua Green,4 GB,64 GB,0.0,11999.0,14999.0,Green,4,GB,64,25.00,4816
2850,Xiaomi,REDMI Note 9,Shadow Black,4 GB,64 GB,0.0,11999.0,14999.0,Black,4,GB,64,25.00,4816

In [19]:
df_sales = df_sales.drop(['model'], axis = 1) #Based on EDA 
df_sales

,brand,color,memory,storage,rating,selling_price,original_price,base_colors,memory_num,memory_type,storage_num,discount,total_memory
0,OPPO,Moonlight Black,4 GB,64 GB,4.5,11990.0,15990.0,Black,4,GB,64,33.36,4816
1,OPPO,Mint Cream,4 GB,64 GB,4.5,11990.0,15990.0,others,4,GB,64,33.36,4816
2,OPPO,Moonlight Black,6 GB,128 GB,4.3,13990.0,17990.0,Black,6,GB,128,28.59,7224
3,OPPO,Mint Cream,6 GB,128 GB,4.3,13990.0,17990.0,others,6,GB,128,28.59,7224
4,OPPO,Electric Black,4 GB,64 GB,4.5,11990.0,15990.0,Black,4,GB,64,33.36,4816
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2846,POCO,Greyish Black,4 GB,64 GB,4.3,9999.0,11999.0,Black,4,GB,64,20.00,4816
2847,Xiaomi,Not just Blue,4 GB,64 GB,0.0,12990.0,14989.0,Blue,4,GB,64,15.39,4816
2848,Xiaomi,Onyx Black,3 GB,32 GB,0.0,11900.0,12999.0,Black,3,GB,32,9.24,3612
2849,Xiaomi,Aqua Green,4 GB,64 GB,0.0,11999.0,14999.0,Green,4,GB,64,25.00,4816
2850,Xiaomi,Shadow Black,4 GB,64 GB,0.0,11999.0,14999.0,Black,4,GB,64,25.00,4816

### Dummy Variable Encoding

In [22]:
df_enc = pd.get_dummies(df_sales) #Maybe use top 3 brands and bucket the rest as "other" brands since too many columns make the dataset noisy

df_enc

,rating,selling_price,original_price,memory_num,storage_num,discount,total_memory,brand_ASUS,brand_Apple,brand_GIONEE,...,base_colors_Grey Silver,base_colors_Purple,base_colors_Red,base_colors_Silver,base_colors_Silver Blue,base_colors_Silver White,base_colors_White,base_colors_others,memory_type_GB,memory_type_MB
0,4.5,11990.0,15990.0,4,64,33.36,4816,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,4.5,11990.0,15990.0,4,64,33.36,4816,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,4.3,13990.0,17990.0,6,128,28.59,7224,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,4.3,13990.0,17990.0,6,128,28.59,7224,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,4.5,11990.0,15990.0,4,64,33.36,4816,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2846,4.3,9999.0,11999.0,4,64,20.00,4816,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2847,0.0,12990.0,14989.0,4,64,15.39,4816,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2848,0.0,11900.0,12999.0,3,32,9.24,3612,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2849,0.0,11999.0,14999.0,4,64,25.00,4816,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2850,0.0,11999.0,14999.0,4,64,25.00,4816,0,0,0,...,0,0,0,0,0,0,0,0,1,0

 ### Scaling the data